@green: #609f49;
@green-active: #097510;
@black: #495060;
@gray: rgb(99, 94, 94);

@nav-height: 80px;
@nav-height-minus: -80px;
:root{
    --el-color-primary: #609f49;
    --el-color-primary-dark-2: #097510;
    --el-color-primary-light-3: #699d56;
    --el-color-primary-light-5: #87c472;
    --el-color-primary-light-7: #89b579;
    --el-color-primary-light-8: #8eb97e;
    --el-color-primary-light-9: #c8dac2;
}
.max1280{
    max-width: 1280px;
    padding: 16px;
}
.marginAuto{
    margin: 0 auto;
}

.one-line-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.multiple-line-ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient:vertical;
}
.multiple-line-ellipsis-10{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient:vertical;
}